@font-face {
    font-family: 'Frightmare';
    src: url('FrightmareRegular.woff2') format('woff2'),
        url('FrightmareRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frightmare';
    src: url('FrightmareRegular.woff2') format('woff2'),
        url('FrightmareRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

